body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .calculator {
    width: 300px;
    padding: 20px;
    border: 1px solid #a79494;
    border-radius: 5px;
  }